.loader {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 30px solid #eeeeee;
    border-right: 30px solid #eeeeee;
    animation: rotate 1s infinite linear;
    background-color: #eeeeee;
    /*border: 1px solid black;*/
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loader_user_pic {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #eeeeee;
    align-self: center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: placeholder-shimmer-small;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eeeeee 20%, #bbbbbb 60%, #eeeeee 90%);
    position: relative;
}

@keyframes placeholder-shimmer-small {
    0% {
        background-position: -100px 0
    }
    100% {
        background-position: 100px 0
    }
}

.loader_user_pic_small {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #eeeeee;
    align-self: center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: placeholder-shimmer-smaller;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eeeeee 20%, #bbbbbb 60%, #eeeeee 90%);
    position: relative;
}

@keyframes placeholder-shimmer-smaller {
    0% {
        background-position: -50px 0
    }
    100% {
        background-position: 50px 0
    }
}

.loader_image {
    width: 300px;
    height: 300px;
    background-color: #eeeeee;
    align-self: center;
    border-radius: 10px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: placeholder-shimmer;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eeeeee 20%, #bbbbbb 60%, #eeeeee 90%);
    position: relative;
}

@keyframes placeholder-shimmer {
    0% {
        background-position: -300px 0
    }
    100% {
        background-position: 300px 0
    }
}

.loader_text {
    width: 100px;
    height: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: placeholder-shimmer-text;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eeeeee 20%, #bbbbbb 60%, #eeeeee 90%);
    position: relative;
}

@keyframes placeholder-shimmer-text {
    0% {
        background-position: -100px 0
    }
    100% {
        background-position: 100px 0
    }
}