.logo_all {
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo_text {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Zen Dots', 'Roboto', cursive;
}

@media (max-width: 500px) {
    .logo_text {
        font-size: 25px;
    }

    .logo_text span {
        display: none;
    }
}