.logo_all {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo_img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.logo_text {
    display: flex;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 500px) {
    .logo_text {
        display: none;
    }
}