
.login_page {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    justify-content: space-evenly;
    align-items: center;
}

.login_page__info {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.login_page__info img {
    height: 300px;
    width: 150px;
}

.login_page__mock_imgs {
    display: flex;
}


.login_page__login {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.login_page__login_title {
    font-size: 20px;
    margin-top: 10px;
}

.login_page__login_button_group {
    width: 70%;
    margin-top: 20px;
}

.login_page__login_button {
    width: 100%;
    height: 35px;
    background-color: royalblue;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    border: none;
}

.login_page__login_button:disabled {
    background-color: #4169E177;
    cursor: unset;
}

.login_page__login_button:hover:enabled {
    box-shadow: rgb(50 50 255 / 30%) 0px 0px 20px 5px;
}

.btn_register_color {
    background-color: limegreen;
}

.btn_register_color:hover:enabled {
    box-shadow: #32CD3277 0px 0px 20px 5px;
}

.btn_return {
    width: fit-content;
    height: 25px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn_return:hover {
    width: fit-content;
    background-color: #dddddd;
    border: none;
}

.login_page__login_info {
    margin-top: 50px;
    font-size: 13px;
    color: darkgray;
    text-align: center;
}

.login_page__login_info > a {
    font-weight: 700;
    color: gray;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px 40px;
}

.login_form__input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_form__input_group img {
    width: 16px;
    object-fit: scale-down;
}

.login_form__input_group label {
    font-size: 18px;
    color: #555555;
    margin-bottom: 10px;
    height: 30px;
}

.login_form__password_and_img {
    display: flex;
    justify-content: space-between;
}

.login_form__password_and_img img {
    cursor: pointer;
}

.login_form__input_group input {
    height: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    background-color: #eeeeee;
    border-radius: 10px;
    outline: none;
}

.login_form__input_group input:focus {
    background-color: #dddddd;
}

.p_first {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}

.p_second {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: gray;
    max-width: 400px;
}

.img_mock {
    margin-top: 20px;
    border-radius: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
    background-color: royalblue;
    border-radius: 20%;
    color: white;
}

.login_page__registration {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

@media (max-width: 800px) {
    .login_page__info {
        display: none;
    }
}

@media (max-width: 400px) {

    .w-400 {
        width: 80%;
    }
}


