
.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border-top: 5px solid #dddddd;
    max-height: 260px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

.comments::-webkit-scrollbar {
    width: 0;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.hide {
    visibility: hidden;
}

.comment_date {
    position: sticky;
    top: 0;
    background-color: #eeeeee;
    color: #555555;
    z-index: 2;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 25px;
}

.comment span {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.comment.from_me {
    justify-content: right;
}

.comment > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: end;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.3rem;
    background-color: #eeeeee;
}

.name {
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
    color: #000000;
}


.name:hover {
    cursor: pointer;
    color: #00000099;
}

/** */
.comment p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
}

.comment div {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.comment p::before,
.comment p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

p.from_me {
    align-self: flex-end;
    background-color: #ddddff;
    color: black;
}

p.from_me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #ddddff;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from_me::after {
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform: translate(-30px, -2px);
    width: 10px;
}

p[class^="from_"] {
    margin: 0.5rem 0;
    width: fit-content;
}

p.from_me ~ p.from_me {
    margin: 0.25rem 0 0;
}

p.from_me ~ p.from_me:not(:last-child) {
    margin: 0.25rem 0 0;
}

p.from_me ~ p.from_me:last-child {
    margin-bottom: 0.5rem;
}

p.from_them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
}

p.from_them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from_them::after {
    background-color: white;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}

p[class^="from_"].emoji {
    background: none;
    font-size: 2.5rem;
}

p[class^="from_"].emoji::before {
    content: none;
}

.no_tail p::before {
    display: none;
}

.margin-b_none {
    margin-bottom: 0 !important;
}

.margin-b_one {
    margin-bottom: 1rem !important;
}

.margin-t_one {
    margin-top: 1rem !important;
}

.comment__msg {
    width: 100%;
    padding: 5px 10px;
    background: #eeeeee;
    border-top: 3px solid #eeeeee;
    display: flex;
    align-items: flex-end;
}

.comment__msg textarea {
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #cccccc;
    resize: none;
}

.comment__msg textarea:focus {
    background-color: #dddddd;
}

.comment__msg img {
    width: 30px;
    margin: 5px;
    background-color: #be961e;
    padding: 7px;
    border-radius: 50%;
    filter: invert(100%);
}

.comment__msg_img {
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    border: none;
    background-color: #eeeeee;
}

.comment__msg_img:hover img {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: slidetop;
    animation-iteration-count: 1;
    cursor: pointer;
}

@keyframes slidetop {
    0% {
        margin-bottom: 5px;
    }
    50% {
        margin-bottom: 12px;
    }
    100% {
        margin-bottom: 5px;
    }
}