
.popups {
    position: absolute;
    z-index: 9999;
    top: 60px;
    right: 0;
}

.popup {
    background-color: #cccccc88;
    color: red;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    min-height: 60px;
    margin: 10px;
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    flex-direction: column;
    text-align: center;
}

.popup:hover {
    background-color: #ccccccff;
    cursor: pointer;
}

.popup .helper {
    display: block;
    position: relative;
    text-align: right;
    visibility: hidden;
    font-size: 10px;
    color: #555555;
    font-weight: lighter;
}

.popup:hover .helper {
    visibility: visible;
}

@keyframes slidein {
    from {
        top: 100vh;
        bottom: 0;
    }

    to {
        top: 75px;
        bottom: 100vh;
    }
}

