.message_card {
    width: 100%;
    min-height: 60px;
    background-color: #D1D9F155;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    animation-name: smooth-scale-reverse;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
}

.no_messages {
    background-color: #eeeeee;
}

.message_card:last-child {
    margin-bottom: 0;
}

.message_card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #B1B9F1;
    margin-right: 25px;
    font-size: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eeeeee;
}

.message_card_name {
    height: 100%;
    flex: 1;
    text-align: left;
}

.message_card div .message_preview {
    font-size: 13px;
}

.message_time {
    font-size: 13px;
    height: 100%;
    align-self: flex-start;
    margin-top: 10px;
}

.message_card:hover {
    cursor: pointer;
    animation-name: smooth-scale;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.unread {
    background-color: #D1D9F1;
}

.unread p {
    font-weight: bold;
}

@keyframes smooth-scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes smooth-scale-reverse {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

.status {
    padding: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    display: flex;
    margin-left: 10px;
    animation-name: smooth-disappear-status;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.online {
    background-color: green;

}

.offline {
    background-color: gray;
}

.status:hover {
    border-radius: 10px;
    height: 20px;
    width: auto;
    padding: 0 10px;
    animation-name: smooth-appear-status;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.status p {
    font-size: 10px;
    color: transparent;
    line-height: 1rem;
    display: none;

    animation-name: smooth-disappear-status-text;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.status:hover p {
    animation-name: smooth-appear-status-text;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    display: block;
}

@keyframes smooth-appear-status {
    from {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    to {
        border-radius: 10px;
        height: 20px;
        width: fit-content;
        padding: 0 10px;
    }
}

@keyframes smooth-disappear-status {
    from {
        border-radius: 10px;
        height: 20px;
        width: fit-content;
        padding: 0 10px;
    }
    to {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
}

@keyframes smooth-appear-status-text {
    from {
        color: transparent;
        display: none;
    }
    to {
        color: white;
        display: block;
    }
}

@keyframes smooth-disappear-status-text {
    from {
        color: white;
        display: block;
    }
    to {
        color: transparent;
        display: none;
    }
}
