.message_card {
    width: 100%;
    min-height: 60px;
    background-color: #D1D9F1;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    animation-name: smooth-scale-reverse;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
}

.no_messages {
    background-color: #eeeeee;
}

.message_card:last-child {
    margin-bottom: 0;
}

.message_card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #B1B9F1;
    margin-right: 25px;
}

.message_card_name {
    height: 100%;
    flex: 1;
    text-align: left;
}

.message_card div .message_preview {
    font-size: 13px;
}

.message_time {
    font-size: 13px;
    height: 100%;
    align-self: flex-start;
    margin-top: 10px;
}

.message_card:hover {
    cursor: pointer;
    animation-name: smooth-scale;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes smooth-scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes smooth-scale-reverse {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}