
.post_form {
    background-color: #dddddd;
    margin: 10px 20px;
}

.post_form textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    min-height: 25px;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 10px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.post_form textarea:focus {
    background-color: #f9f9f9;
    box-shadow: white 0 0 5px 3px;
    margin-bottom: 10px;
    min-height: 50px;
}

.post_form button {
    width: auto;
    border: none;
    resize: none;
    outline: none;
    border-radius: 5px;
    background-color: #81A9E1;
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.post_form button:hover {
    animation-name: changecolor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes changecolor {
    from {
        background-color: #81A9E1;
    }

    to {
        background-color: royalblue;
        box-shadow: #81A9E1 0 0 10px 5px;
        color: white;
    }
}