.main {
    margin-left: 30px;
}

.main button {
    outline: none;
    border: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background-color: #dddddd;
}

.active:hover {
    background-color: #eeeeee;
}

.not_active {
    background-color: #eeeeee;
}

.not_active:hover {
    background-color: #dddddd;
}

.notifications {
    position: sticky;
    top: 60px;
    left: 100px;
    right: auto;

    padding: 10px;
    background-color: white;
    /*border: 1px solid black;*/
    border-radius: 10px;
    width: 300px;
    box-shadow: #aaaaaa 0 30px 60px 5px;
    max-height: 400px;
    min-height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.behind {
    position: sticky;
    top: 30;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /*background-color: black;*/
}

@media (max-width: 500px) {
    .notifications {
        left: 50px;
        right: auto;
    }
}

.notifications_content > div {
    height: 60px;
    min-height: min-content;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #eeeeee;
    margin-bottom: 5px;
    padding: 10px;
}