.user_page {
    width: 100%;
}

.user_page__pic_name {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.user_page__pic_and_btns {
    display: flex;
    flex-direction: column;
    margin: 0 20px 50px 0;
    padding: 15px;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.user_pic {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #dddddd;
}

.user_pic img {
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #eeeeee;
    object-fit: cover;
    /*padding: 10px;*/
}


.user_pic_btns {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
}

.user_pic_btns div, .user_pic_btns button {
    padding: 5px;
    height: 30px;
    text-align: center;
    background-color: #5181b8;
    color: white;
    border: none;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_pic_btns div a {
    color: white;
}

.user_pic_btns button:hover, .user_pic_btns div:hover {
    background-color: #6690c0;
    box-shadow: rgb(102 144 192 / 55%) 0 6px 20px;
    cursor: pointer;

}

.user_pic_btns .danger {
    background-color: #CC889988;
    color: black;
}

.user_pic_btns .danger:hover {
    background-color: #CC8899dd;
    cursor: pointer;
    box-shadow: rgb(204 136 153 / 55%) 0 6px 20px;
}

.user_pic_btns .user_button {
    color: #65768a;
    background-color: #e5ebf1;
}

.user_pic_btns .user_button:hover {
    background-color: #dae2ea;
    box-shadow: rgb(218 226 234 / 55%) 0 6px 20px;
}

.user_page__info_stats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.user_page__info {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    margin-bottom: 25px;
    max-width: 600px;
}

.user_page__info h2 {
    margin-bottom: 10px;
}

.user_page__info input {
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    outline: none;
}
.user_page__info span {
    font-size: 2.25em;
    font-weight: bold;
    padding: 5px;
}

.user_page__info input:focus {
    background-color: #eeeeee;
    border-radius: 5px;
}

.user_page__info p {
    line-height: 2rem;
}

.user_page__info form {
    display: flex;
    width: auto;
    margin-bottom: 20px;
    flex-grow: 1;
}

.user_page__stats {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    min-width: 200px;
    margin-bottom: 0;
    max-width: 600px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_page__stats a {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
}

.user_page__stats a:last-child {
    margin-right: 0;
}

.user_page__stats div {
    font-size: 1.5rem;
    color: #2a5885;
}

.user_page__stats p {
    color: gray;
    font-size: 0.9rem;
}

.user_page__stats .disabled_link {
    cursor: default;
}


.user_page__friends {
    margin-right: 20px;
    width: 230px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.user_page__friends > a {
    color: black;
}

.user_page__friends_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user_page__friends_header:hover {
    background-color: #cccccc;
}

.user_page__friends_header div {
    vertical-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.user_page__friends_header div p {
    border-radius: 5px;
    padding: 3px;
}

.user_page__friends_imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    height: fit-content;
    padding: 10px 10px 0;
}

.user_page__friends_imgs__helper_btn {
    width: 100%;
    background-color: #cccccc;
    height: 30px;
    outline: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user_page__friends_imgs a {
    margin: auto auto 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_page__friends_imgs a img {
    min-width: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #aaaaaa;
    text-align: center;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_page__friends_imgs a img:hover {
    border: none;
}

.user_page__posts_form {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    margin-bottom: 25px;
    border-radius: 5px;
    max-width: 600px;
}

.user_page__posts_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid lightgray;
    max-width: 600px;
    margin-bottom: 5px;
}

