.user_page {
    width: 100%;
}
.user_page__friends {
    margin-right: 20px;
    width: 230px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.user_page__friends > a {
    color: black;
}

.user_page__friends_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user_page__friends_header:hover {
    background-color: #cccccc;
}

.user_page__friends_header div {
    vertical-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.user_page__friends_header div p {
    border-radius: 5px;
    padding: 3px;
}

.user_page__friends_imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    height: fit-content;
    padding: 10px 10px 0;
}

.user_page__friends_imgs__helper_btn {
    width: 100%;
    background-color: #cccccc;
    height: 30px;
    outline: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user_page__friends_imgs a {
    margin: auto auto 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_page__friends_imgs a img {
    min-width: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #aaaaaa;
    text-align: center;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_page__friends_imgs a img:hover {
    border: none;
}

.user_page__posts_form {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    margin-bottom: 25px;
    border-radius: 5px;
    max-width: 600px;
}

.user_page__posts_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid lightgray;
    max-width: 600px;
    margin-bottom: 5px;
}
