* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hide {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

body {
    width: 100%;
    background-color: #eeeeee;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.default_page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1250px;
    padding: 25px;
}

.default_page__content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.clear_bottom_radius {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 10px;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}


.justify-content-start {
    justify-content: start !important;
}

.padding-25 {
    padding: 25px;
}

.margin-25 {
    margin: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-400 {
    width: 400px;
}

.ls-5 {
    letter-spacing: 5px;
}

@media (max-width: 400px) {

    .w-400 {
        width: 80%;
    }
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #dddddd;
    color: #333333;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    margin-left: -5px;
    margin-top: -40px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dddddd transparent transparent transparent;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.3s;
    transition-timing-function: ease-in;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}







