* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #eeeeee;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.default_page {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.default_page__content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 25px;
}

.user_page {
    width: 100%;
}

.user_page__pic_name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.user_page__pic_and_btns {
    display: flex;
    flex-direction: column;
    margin: 0 20px 50px 0;
}

.user_pic {
    padding: 15px;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.user_pic_btns {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.user_pic_btns div {
    padding: 10px;
    text-align: center;
    background-color: #248bf588;
    border: 1px solid #248bf5;
    border-bottom: none;
}

.user_pic_btns div:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid #248bf5;
}

.user_pic_btns div:hover {
    background-color: #248bf5dd;
    cursor: pointer;
    box-shadow: rgb(50 50 255 / 55%) 0 6px 20px;
}

.user_pic img {
    width: 200px;
    border-radius: 10px;
}

.user_page__info {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    margin-bottom: 50px;
}

.user_page__info h1 {
    margin-bottom: 20px;
}

.user_page__info p {
    line-height: 2rem;
}

.user_page__friends {
    margin-right: 20px;
    width: 230px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    height: fit-content;
    padding: 10px 10px 20px;
}

.user_page__friends:hover {
    cursor: pointer;
    padding: 10px 10px 0;
    border-bottom: 20px solid #dddddd;
}

.user_page__friends a {
    margin: auto auto 10px;
}

.user_page__friends a img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid #aaaaaa;
}

.user_page__friends a img:hover {
    border: none;
}

.post {
    margin-bottom: 25px;
    border-radius: 20px;
    min-width: 250px;
}

.post:hover {
    box-shadow: rgb(0 16 61 / 20%) 0 6px 20px;
    /*cursor: pointer;*/
}

.post__owner {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #4169E122;
    box-shadow: rgb(0 16 61 / 7%) 0 6px 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: space-between;
}

.post__owner:hover {
    box-shadow: rgb(50 50 255 / 15%) 0 6px 20px;
    /*border: 1px solid #4169E155;*/
    /*padding: 9px 19px;*/
    cursor: pointer;
    background-color: #4169E144;
}

.post__owner > img {
    border-radius: 50%;
    width: 50px;
    margin-left: 0;
    border: 3px solid #eeeeee;
}

.post__owner > p {
    margin-left: 20px;
    font-weight: bold;
    color: #222222;
}

.post__content {
    display: flex;
    padding: 15px;
    justify-content: center;
    background-color: white;
    box-shadow: rgb(0 16 61 / 7%) 0 6px 20px;
    flex-direction: column;
    min-height: 100px;
}

.post__content img {
    width: auto;
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
    max-height: 400px;
    object-fit: scale-down;
}

.post__content div {
    margin: 0 10px;
}

.post__publish-date {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    text-align: right;
}

.post__btns {
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    background-color: #00000011;
    padding: 10px;
}

.post__btns:hover {
    cursor: pointer;
    background-color: #00000033;
}

.post__btns div {
    margin: 2px 10px;
}

.clear_bottom_radius {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/**
    post -- название из CSSTransition
 */
.post-enter {
    filter: opacity(0);
    transform: scale(1.2);
    /*transform: translateX(-600px);*/
}

.post-enter-active {
    filter: opacity(1);
    transform: scale(1);
    /*transform: translateX(0px);*/
    transition: all 500ms linear;
}

.post-exit-active {
    /*transform: translateX(-600px);*/
    filter: opacity(0);
    transform: scale(1.2);
    transition: all 500ms linear;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 10px;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    background: white;
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar__links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar__links div {
    cursor: pointer;
}

.justify-content-start {
    justify-content: start !important;
}

.padding-25 {
    padding: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-400 {
    width: 400px;
}

.ls-5 {
    letter-spacing: 5px;
}

@media (max-width: 400px) {

    .w-400 {
        width: 80%;
    }
}







