.message_content_menu {
    display: none;
    /*display: block;*/
    position: absolute;
    z-index: 10;
    padding: 0 5px;
    width: fit-content;
    height: fit-content;
    min-height: 50px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 0px 0px 10px 5px #cfcfcf;
    border-radius: 5px;
}

.message_content_menu_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_content_menu > ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.message_content_menu > ul > li {
    display: block;
}

.message_content_menu > ul > li > button {
    display: block;
    padding: 4px 12px;
    text-decoration: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: #eeeeee;
}

.message_content_menu > ul > li > button:hover {
    background-color: #cdcdcd;
    cursor: pointer;
}

.message_content_menu > ul > li > .danger:hover {
    background-color: #ddaaaa;
    cursor: pointer;
}